{% extends 'base.html.twig' %}

{% block title %}
    {{ 'action.delete'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'action.delete'|trans }}</h1>

    <p>
        Czy na pewno chcesz usunąć kategorię:
        <strong>{{ category.title }}</strong>?
    </p>

    {{ form_start(form) }}

    <button type="submit" class="btn btn-danger">
        {{ 'action.delete'|trans }}
    </button>

    {{ form_end(form) }}

    <a href="{{ url('category_index') }}" class="btn btn-secondary">
        {{ 'action.back_to_list'|trans }}
    </a>
{% endblock %}
