{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_list'|trans }}</h1>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'category.title') }}</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a href="{{ url('category_view', {id: category.id}) }}">view</a>
                        |
                        <a href="{{ url('category_edit', {id: category.id}) }}">edit</a>
                        |
                        <a href="{{ url('category_delete', {id: category.id}) }}">delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}

    <a class="btn btn-primary" href="{{ url('category_create') }}">
        {{ 'action.create'|trans }}
    </a>
{% endblock %}
