{% extends 'base.html.twig' %}

{% block title %}
    {{ 'action.edit'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'action.edit'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-primary">
        {{ 'action.save'|trans }}
    </button>
    {{ form_end(form) }}

    <a href="{{ url('post_index') }}" class="btn btn-secondary">
        {{ 'action.back_to_list'|trans }}
    </a>
{% endblock %}
