{% extends 'base.html.twig' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>{{ post.id }}</dd>

        <dt>Created at</dt>
        <dd>{{ post.createdAt|date('Y-m-d H:i') }}</dd>

        <dt>Updated at</dt>
        <dd>{{ post.updatedAt|date('Y-m-d H:i') }}</dd>

        <dt>Category</dt>
        <dd>{{ post.category.title }}</dd>

        <dt>Title</dt>
        <dd>{{ post.title }}</dd>
    </dl>

    <a href="{{ url('post_index') }}" class="btn btn-secondary">
        {{ 'action.back_to_list'|trans }}
    </a>

    <a href="{{ url('post_edit', {id: post.id}) }}" class="btn btn-warning">
        {{ 'action.edit'|trans }}
    </a>

    <a href="{{ url('post_delete', {id: post.id}) }}" class="btn btn-danger">
        {{ 'action.delete'|trans }}
    </a>
{% endblock %}
