{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.change_password'|trans }}
{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1>{{ 'title.change_password'|trans }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-warning mt-3">
            {{ 'action.change_password'|trans }}
        </button>
        {{ form_end(form) }}

    </div>
{% endblock %}
